.relatively-aligned(layout="column")
  ha-expenditure-list(flex on-select="haEM.openEditModal($expenditure)")

  md-button.md-fab.fab-alignment(
    ng-click="haEM.openEditModal()"
  )
    md-icon(md-svg-icon="/icons/ic_add_black_24px.svg")
