doctype html
html(ng-app="HomeAccountingFront")
  head
    title Dead simple skeleton
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="/app.css")

  body(layout="column")
    md-toolbar: .md-toolbar-tools
      h2.md-title: span HomeAccounting

    ha-expenditure-manager(flex)

    md-toolbar: .md-toolbar-tools
      p Brought to you by nicooga apps

    script(src="/vendor.js")
    script(src="/app.js")
    script.
      require("initialize")
