[ng-click]
  cursor: pointer

.relatively-aligned
  position: relative

.fab-alignment
  position: absolute
  bottom: -28px
  right: 16px
  margin: 0 !important

.md-icon-button.md-primary svg
  fill: rgba(255,255,255,0.87) !important
