
<form ng-submit="haEE.save()" layout="column" class="md-inline-form">
  <md-content layout-padding="layout-padding">
    <div>
      <div layout="row" class="md-datepicker-wrapper">
        <md-datepicker flex="flex" ng-model="haEE.expenditure.form.data.attributes['expent-at']" md-placeholder="Expent At" utc-parser="utc-parser" class="md-block"></md-datepicker>
        <md-button ng-click="haEE.expenditure.form.data.attributes['expent-at'] = undefined" class="md-icon-button">
          <md-icon md-svg-src="icons/ic_remove_circle_outline_black_48px.svg"></md-icon>
        </md-button>
      </div>
      <md-input-container class="md-block">
        <label>Desc</label>
        <input ng-model="haEE.expenditure.form.data.attributes.desc"/>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Amount</label>
        <input type="number" step="0.01" ng-model="haEE.expenditure.form.data.attributes.amount" float-parser="float-parser"/>
      </md-input-container>
      <md-input-container>
        <label>Tags</label>
        <md-chips ng-model="haEE.expenditure.form.data.attributes['tag-names']" md-transform-chip="$chip.data.attributes.name">
          <md-autocomplete md-search-text="haEE.tagSearchText" md-items="item in haEE.getTags(haEE.tagSearchText)" md-item-text="item.data.attributes.name" md-no-cache="true" md-delay="300" placeholder="Tags"><span ng-bind="item.data.attributes.name" md-highlight-text="haELF.tagSearchText"></span></md-autocomplete>
        </md-chips>
      </md-input-container>
      <div layout="row">
        <button flex="flex" type="submit" ng-bind="haEE.expenditure.data.id ? 'update' : 'save'" class="md-button md-primary md-raised md-block"></button>
      </div>
    </div>
  </md-content>
</form>